// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100vw;
  display: flex;
  flex-wrap: row nowrap;
  justify-content: center;
}

.container {
  width: 50vw;
}

h1 {
  margin-bottom: 4rem;
}

hr {
  margin-bottom: 3rem;
  height: 5px;
  background-color: black;
  border-color: black;
}

.person {
  font-weight: bold;
  font-size: 0.75rem;
  margin-bottom: 5px;
}

a {
  color: black;
  text-decoration: underline dotted black 2px;
  transition: 0.2s;
}

p {
  margin: 0;
}

a:hover {
  text-decoration: underline dotted black 5px;
  transition: 0.2s;
}

.answer, .question{
  background-color: yellow;
  padding: 10px;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  flex-grow: 2;
  border-radius: 2px;
}
